[Unit]
Description=secure filesystem mounter using ecryptfs
Requires=ecryptfs.service
Before=network.target
         
[Service]
RemainAfterExit=yes
ExecStart=/usr/sbin/mount-secure.sh
ExecStop=/bin/sh -c "/bin/umount /secure"

[Install]                 
WantedBy=multi-user.target
