[Unit]
Description=OpenVPN connection to %i
After=network.target
RequiresMountsFor=/secure

[Service]
ExecStart=/usr/sbin/openvpn --status /var/run/openvpn_%i.status 10 --cd /secure/openvpn --config /etc/openvpn/%i.conf --auth-nocache
ExecReload=/bin/kill -HUP $MAINPID
WorkingDirectory=/secure/openvpn

[Install]
WantedBy=multi-user.target

